{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Sujet du topic</th>
                <td>{{ topic.messages[0].content }}</td>
            </tr>
            <tr>
                <th>Posté le </th>
                <td>{{ topic.creationDate ? topic.creationDate| format_datetime('long', 'long', locale='fr')}}</td>
            </tr>
            <tr>
                <th>Topic privé</th>
                <td>{{ topic.isPrivate ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('main_home') }}">Retour à l'accueil</a>

{% endblock %}
